<h1>Carrito de Compra</h1>
<div id="cart-items">
    <i class="compras">
            <div class="compras_productos">
                <ul class="Datos">
                    <li>Imagen</li>
                    <li>Nombre</li>
                    <li>Precio</li>
                    <li>Cantidad</li>
                    <li></li>
                </ul>
                <div class="lista_de_productos">
                    
                </div>
             <button id="vaciar_carrito">VACIAR CARRITO</button>
            </div>
    </i>
</div>