<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Licorera</title>
    <link rel="stylesheet" href="/CSS/styles.css">
    <script src="/Controllers/loadContent.js" defer></script>
</head>
<body>

    <nav>
        <div class="logo">
            <a href="#" onclick="loadContent('home.html'); return false;">Licorera</a>
        </div>
        <div class="nav-links">
            <div class="dropdown">
                <div>
                    Productos
                </div>
                <div class="dropdown-content">
                    <a href="#" onclick="loadContent('cerveza.html'); return false;">Cerveza</a>
                    <a href="#" onclick="loadContent('whisky.html'); return false;">Whisky</a>
                    <a href="#" onclick="loadContent('vinos.html'); return false;">Vinos</a>
                    <a href="#" onclick="loadContent('no_licores.html'); return false;">No Licores</a>
                    <a href="#" onclick="loadContent('paquetes.html'); return false;">Paquetes</a>
                    <a href="#" onclick="loadContent('todos_los_productos.html'); return false;">Todos los productos</a>
                </div>
            </div>
            <a href="#" onclick="loadContent('quienes_somos.html'); return false;">¿Quiénes Somos?</a>
            <a href="#" onclick="loadContent('agregar_produc.html'); return false;">Agregar Producto</a>
            <a href="#" onclick="loadContent('configuracion_de_cuenta.html'); return false;">Configuración de Cuenta</a>
            <a href="#" onclick="loadContent('carrito_de_compra.html'); return false;">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>
            </a>
        </div>
    </nav>

    <div class="container">
        <!-- Contenido dinámico basado en el nav -->
        <h1>Bienvenidos a la Licorera</h1>
        <p>Seleccione una opción del menú para comenzar.</p>
    </div>

</body>
</html>
