<h1>¿Quiénes Somos?</h1>
<p>Somos la Licorería Fantasma, una empresa fundada y dirigida por un equipo de tres apasionados del mundo de las bebidas. Nos dedicamos a la venta de licores de la más alta calidad, buscando siempre ofrecer a nuestros clientes una experiencia única.</p>
<h2>Misión</h2>
<p>Nuestra misión es proporcionar a nuestros clientes una amplia variedad de licores de alta calidad, promoviendo siempre el consumo responsable y la satisfacción del cliente.</p>
<h2>Visión</h2>
<p>Nuestra visión es ser reconocidos como la licorería de referencia en nuestra región, destacando por nuestro compromiso con la calidad, la variedad y el servicio al cliente.</p>
<h2>Principios y Valores</h2>
<ul>
    <li>Compromiso con la calidad: Nos esforzamos por ofrecer solo productos de la más alta calidad.</li>
    <li>Atención al cliente: Nos importan nuestros clientes y trabajamos duro para garantizar su satisfacción.</li>
    <li>Responsabilidad: Promovemos el consumo responsable de alcohol.</li>
    <!-- Más valores -->
</ul>
